.footer-border {
  border-top: $border-width solid #c8c8c8;
}
#footer {
  @include font-size($font-size-sm);
  .collapse-wrapper {
    padding-bottom: map-get($spacers, 2);
    margin-bottom: map-get($spacers, 2);
    @include media-breakpoint-down(md) {
      border-bottom: $border-width solid $border-color;
    }
  }
  h4 {
    @include font-size($font-size-base);
  }
  @include media-breakpoint-up(md) {
    .collapse-toggler {
      pointer-events: none;
    }
    .collapse {
      display: block!important;
      height: auto!important;
    }
  }
  .list-collapse li, .footer-advancelocal {
    a {
      color: $gray-600;
      &:hover {
        color: $link-hover-color-blue;
        text-decoration: underline;
      }
    }
  }
  .list-collapse {
    @extend .list-unstyled;
    li {
      margin-bottom: map-get($spacers, 2);
    }
  }
  .footer-advancelocal {
    margin-top: map-get($spacers, 3);
    padding-top: map-get($spacers, 3);
    a {
      text-decoration: underline;
    }
  }
}


.container-sm-footer {
  @extend .container;
  padding-left: $container-padding-x*2;
  padding-right: $container-padding-x*2;
}

#cookie-law-modal {
  .modal-header {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: $zindex-modal+1;
  }
}